@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto&family=Source+Sans+Pro:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  --color-grey-50: #f2f9ff;
  --color-grey-100: #f8f9fa;
  --color-grey-200: #e9ecef;
  --color-grey-300: #dee2e6;
  --color-grey-400: #ced4da;
  --color-grey-500: #adb5bd;
  --color-grey-600: #6c757d;
  --color-grey-700: #495057;
  --color-grey-800: #343a40;
  --color-grey-900: #212529;

  --color-primary-50: #d8f3dc;
  --color-primary-100: #b7e4c7;
  --color-primary-200: #95d5b2;
  --color-primary-300: #74c69d;
  --color-primary-400: #52b788;
  --color-primary-500: #40916c;
  --color-primary-600: #2d6a4f;
  --color-primary-700: #1b4332;

  --color-success-100: #aaf683;
  --color-success-500: #60d394;

  --color-error-100: #ff9b85;
  --color-error-500: #ee6055;

  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-8: 2rem;
  --size-16: 4rem;
  --size-20: 5rem;
  --size-40: 10rem;

  margin: 0;
  background-color: var(--color-grey-500);
  color: #252525;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Oswald", "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

button {
  font: inherit;
  cursor: pointer;
}
